body {
  font-family: 'Cormorant Upright', serif;
  background: #f9f6f1;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 20px;
}

h1{
    font-family: 'Cormorant Upright', serif;
    font-size: 40px;
    font-weight: 400;
}

.cart-container {
  width: 90%;
  margin: auto;
}

.cart-header {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  max-width: 900px;
  margin: 20px auto;
  font-weight:400;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  text-align: center;
}

.cart-row {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
  max-width: 900px;
  margin: auto;
}

.cart-row p{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.product {
  display: flex;
  align-items: center;
  gap: 20px;
}

.product img {
  width: 150px;
}

.quantity-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #0b1320;
  color: white;
  width: 100px;
  height: 25px;
 
  margin-top: 10px;
}
.quantity button {
  padding: 5px 10px;
  cursor: pointer;
}

.quantity span {
  margin: 0 10px;
}

.price, .total {
  text-align:center;
  font-family: 'Montserrat', sans-serif;

}

.cart-buttons {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  font-family: 'Montserrat', sans-serif;

}

.btn {
  display: inline-block;
  background-color: orange;
  color: white;
  padding: 12px 30px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.checkout {
  background: orange;
  border: none;
  font-family: 'Montserrat', sans-serif;
}

/* MOBILE */
@media (max-width: 768px) {
  .cart-row {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .product {
    flex-direction: column;
  }

  .cart-buttons {
    flex-direction: column;
    gap: 10px;
  }
}