/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAVBAR*/
.header {
  background: #0b0f2a;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 60px;
  color: white;
}

.logo img {
  width: 50px;
  height: 50px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 70px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.nav-links a {
  text-decoration: none;
  color: #ccc;
}

.nav-links a:hover {
  color: white;
}

/* PAGE BACKGROUND */
body {
  background: whitesmoke;
  font-family: 'Montserrat', sans-serif;
}

/* CENTER LOGIN */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

/* BOX */
.login-box {
  background: #dcdcdc;
  padding: 80px;
  width: 550px;
  text-align: center;
}

/* TITLE */
.login-box h2 {
  font-family: 'Cormorant Upright', serif;
  margin-bottom: 20px;
  font-size: 28px;
}

/* INPUTS */
.login-box label {
  display: block;
  text-align: left;
  margin: 10px 0 5px;
}

.login-box input {
  width: 100%;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  background: #e6952b;
}

/* OPTIONS */
.options {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  font-size: 12px;
  margin: 1px 0 20px;
}

.options label {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* LOGIN BUTTON */
.login-btn {
  width: 100%;
  padding: 12px;
  background: #0b1320;
  color: white;
  border: none;
  cursor: pointer;
  display: block;
  text-align: center;
  text-decoration: none;
}

/* DIVIDER */
.divider {
  margin: 20px 0;
  font-size: 12px;
  position: relative;
}

.divider::before,
.divider::after {
  content: "";
  height: 1px;
  width: 30%;
  background: #999;
  position: absolute;
  top: 50%;
}

.divider::before { left: 0; }
.divider::after { right: 0; }

/* SOCIAL */
.social button {
  background: white;
  border: none;
  padding: 5px;
  border-radius: 22px;
  cursor: pointer;
}

.social img {
  width: 40px;
  height: 40px;
}

/* HELP TEXT */
.help {
  margin-top: 20px;
  font-size: 12px;
}

/* RESPONSIVE (LOGIN PAGE)*/

/* TABLET */
@media (max-width: 1024px) {

  .navbar {
    padding: 10px 30px;
  }

  .nav-links {
    gap: 30px;
    font-size: 16px;
  }

  .login-box {
    width: 350px;
    padding: 40px;
  }

}

/* MOBILE */
@media (max-width: 768px) {

  /* NAV */
  .navbar {
    padding: 10px 20px;
  }

  .nav-links {
    display: none;
  }

  /* CENTER BOX */
  .login-container {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
    align-items: center;
  }

  .login-box {
    width: 100%;
    max-width: 320px;
  }

  /* TEXT */
  .login-box h2 {
    font-size: 22px;
  }

  .login-box label {
    font-size: 14px;
  }

  /* INPUTS */
  .login-box input {
    padding: 8px;
  }

  /* OPTIONS */
  .options {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  /* BUTTON */
  .login-btn {
    padding: 10px;
    font-size: 16px;
  }

  /* SOCIAL */
  .social {
    gap: 15px;
  }

  .social img {
    width: 18px;
    height: 18px;
  }

  /* HELP TEXT */
  .help {
    font-size: 12px;
    text-align: center;
  }
}