/* General Layout */
body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* Sets default font stack for the page */
    line-height: 1.6;
    color: #333;
    max-width: 100%;
    margin: 0 auto;
    padding: 0rem;
    background-color: #f4f7f6;
}

section {
    background: white;
    margin-bottom: 1.5rem;
    padding: 1rem;
    border-radius: 0.7rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.1);
}

/* Typography */
h1 { 
	color: #4B0082;
	font-size: 4rem;
	text-align: center;
}
h2 {
	color: #2980b9;
	border-bottom: 0.1rem solid #eee;
	padding-bottom: 0.5rem; 
	font-size: 3rem;
}
h3 { 
	font-size: 2rem; 
}
h4 { 
	font-size: 1.2rem;
	margin-top: 0.5rem; 
}

a { 
	color: #3498db; /* Link color */
	text-decoration: none; /* Remove underline by default */
	transition: 0.3s; /* Smooth color change on hover */
}

a:hover{
	text-decoration: underline;
	color: #e74c3c; /* Change link color on hover */
}

/* Navigation */

nav{
	background-color: #333;
}

ul{
	display: flex; /* Flex layout for menu items */
	flex-direction: row;
	text-decoration: none;
	list-style: none;
	text-align: center;
	justify-content: space-evenly;
}

 ul li{
	text-decoration: none;
	padding: 2rem ; /* Padding inside each menu item */
	
 }

 ul li a{
	color: #eee;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 2rem;
 }


/* Form Elements */
.form-group {
	margin: 1.25rem 0;
}

label {
	display: block; /* Makes label appear above input */
	font-weight: bold;
	margin-bottom: 0.3125rem;
}
input[type="text"] {
    width: 100%;
    padding: 0.625rem;
    border: 0.0625rem solid #ddd;
    border-radius: 0.25rem;
}

img{
	height: 30rem;
	width: 30rem;
}
/* Extra Elements: Color Palette */

.palette {
	display: flex;
	gap: 0.625rem;
}

.color-box {
    width: 6.25rem;
    height: 6.25rem;
    display: flex;
    align-items: center; /* Vertically center text */
    justify-content: center; /* Horizontally center text */
    color: white;
    font-size: 0.8rem;
    border-radius: 0.25rem;
}

.primary {
	background-color: #3498db;
}

.secondary {
	background-color: #2ecc71;
}

.accent {
	background-color: #e74c3c;
}

/* Extra Elements: Buttons */

.btn {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer; /* Pointer cursor on hover */
    font-weight: bold;
    transition: transform 0.2s; /* Button press animation */
}
.btn:active {   /* Shrinks button slightly when clicked */
	transform: scale(0.95);
}

.btn-primary {  /* Blue button */
	background: #3498db;
	color: white;
}

.btn-outline {
	background: transparent; /* Transparent button */
	border: 2px solid #3498db;
	color: #3498db;
}